
body{
    background-color: #E8EFF7;
}


.card{
    margin-bottom: 1.5rem;
    background-color: black;
    color: white;
}
.navbar{
    border-bottom: 4px grey solid;
}

.projects .card-img-top{
    padding: .75rem;
}

.jumbo{
    padding: 7rem;
    margin-bottom: 3rem;
}
.but{
    margin: 0 auto;
}
.contacts{
    display: flex;
    flex-direction: column;
}
.contact-header{
    margin: 0 auto;
    color: white;
}
.contact-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.svg-img{
    margin-right: 1rem;
    background-color: #E8EFF7;
    padding: .1rem;
    border-radius: 15%;
}
.svg-img:last-child{
    margin-right: 0;
}

.contact-button{
    margin:0 auto;
}
.btn-ben{
    color: white;
    background-color: tomato;
}

.about-hidden{
    display: none;
}
.about-me-img{
    margin-bottom: 1rem;
}

.ben-img{
    border: 10px solid black;
}
.hidden-port,.hidden-web,.hidden-form,.hidden-gal,.hidden-dir,.hidden-game{
    display: none;
}

@media screen and (min-width: 768px) {
    .about-hidden{
        display: block;
    }
    .about-me-img{
        margin-bottom: 0rem;
    }
    
}